.SobreNos {
    display: grid;
    grid-template-columns: repeat(3, 335px);
    gap: 10px;
    justify-content: center;
    font-family: Lato, Helvetica, Arial, sans-serif;
    background-color: #f2f2f2;
    padding-bottom: 100px;
}

.imgQuemSomosContainer {
    position: relative;
    width: 100%;
}

.imgQuemSomos {
    width: 100%;
    height: 459px;
    display: block;
    margin-bottom: 60px;
     object-fit: cover;
    object-position: center; 
}

.textoSoreImagem {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.totiLenovoVoke {
    width: 76%;
    margin: 24px auto;
    font-size: 25px;
    line-height: 1.8;
    text-align: justify;
    font-family: Lato, Helvetica, Arial, sans-serif;
    color: #555;
    font-weight: bold;
    padding-bottom: 50px;
}

.integrantesTexto {
    width: 100%;
    font-size: 25px;
    line-height: 1.8;
    text-align: justify;
    font-family: Lato, Helvetica, Arial, sans-serif;
    color: #555;
    font-weight: strong;
    background-color: #f2f2f2;
    padding-top: 70px;
    padding-bottom: 40px;
    padding-left: 12%;
    padding-right: 14.5%;
    box-sizing: border-box;
}




.integrantesCards {
    display: flex;
    flex-direction: column;
    border: 1px solid #c5c3c3;
    background: white url('../assets/fotosIntegrantes/fundoLong.png') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    padding: 12px;
    width: 340px;
    height: auto;
}

.integrantesCards:hover {
    border: 2px solid #294E95;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.2);
    -webkit-text-stroke: 0.2px black
}

.integranteFoto {
    border-radius: 4px;
    width: 70%;
    height: 250px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.nomeIntegrante {
    color: white;
    text-align: center;
    font-size: 28px;
    margin: 5px 5px 15px 5px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
}

p {
    margin: 0;
}

.rowIdadePais {
    display: flex;
    gap: 10px;
}

.icon {
    margin-left: 16px;
    color: black;
    margin-right: 8px;
    font-size: 20px;
    color: white;

}

.contatoIntegrante {
    color: white;
    margin-left: 42px;
    margin-top: 15px;

}

.interesseIntegrante {
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
    line-height: 1.4;
    padding: 2px;
}

.interesseIntegrante .icon {
    flex-shrink: 0;
    color: white;

}

.rowIdadePais,
.moraIntegrante,
.interesseIntegrante,
.emailIntegrante,
.telefoneIntegrante {
    margin: 3px 0;
    font-size: 16px;  /*Entre 16px e 18px*/
    color: white;

}

.profissaoIntegrante {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 24px;
    color: white;

}

.profissaoIntegrante .icon {
    margin-left: -7px;
    margin-right: 8px;
    color: white;

}

.textProjeto {
    width: 75%;
    margin: 50px auto;
    font-size: 28px;
    font-weight: 800;
    color: #555;
    font-family: Lato, Helvetica, Arial, sans-serif;
}

.quadroBox {
    width: 76%;
    border: 1px solid #555;
    border-left: 6px solid #2507d1;
    background-color: #fff;
    padding: 16px;
    margin: 20px auto;
}

.quadroBox:hover {
    border-left: 6px solid #442387;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.2);
}

.quadroBox2 {
    padding-top: 30px;
    padding-bottom: 80px;
}


.tituloBox {
    font-size: 22px;
    font-weight: 800;
    color: #555;
    font-family: Lato, Helvetica, Arial, sans-serif;
    margin: 20px 0px;
}

.textBox {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    color: #555;
    font-family: Lato, Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
}



/* Fuente de letra:
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
*/