.SobreNos {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 40px;
    justify-content: center;
    font-family: Lato, Helvetica, Arial, sans-serif;
    padding: 16px;
}

.retangulo {
    width: 200px;
    height: 40px;
    background-color: #E1251B;
    margin: 0 auto;
}

.tituloIntegrantes {
    font-family: 'Audiowide', cursive;
    text-align: center;
    font-size: 28px;
    color: #FFF;
    margin-bottom: 24px;
    font-weight: bold;
    align-items: center;
}


.integrantesCards {
    display: flex;
    flex-direction: column;
    border: 1px solid #c5c3c3;
    border-radius: 8px;
    background: white;
    overflow: hidden;
    padding: 12px;
    width: 350px;
    height: auto;
}

.integrantesCards:hover {
    flex-direction: column-reverse;
    border: 2px solid #c5c3c3;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.2);
}

.integranteFoto {
    border-radius: 8px;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.nomeIntegrante {
    color: rgb(41, 78, 149);
    text-align: center;
    font-size: 40px;
    margin: 5px 5px 15px 5px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
}

p {
    margin: 0;
}

.rowIdadePais {
    display: flex;
    gap: 10px;
}

.icon {
    margin-left: 16px;
    color: black;
    margin-right: 8px;
    font-size: 20px;
}

.interesseIntegrante {
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
    line-height: 1.4;
}

.interesseIntegrante .icon {
    flex-shrink: 0;
}

.rowIdadePais,
.moraIntegrante,
.profissaoIntegrante,
.interesseIntegrante,
.emailIntegrante,
.telefoneIntegrante {
    margin: 3px 0;
    font-size: 17px; /*Entre 16px e 18px*/
}

.contatoIntegrante {
    margin-left: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Fuente de letra:
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
*/