body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* === Adaptable a toda la pantalla === 
  padding-left: 5vw;   /* 5% del ancho de la pantalla a la izquierda */
  /*padding-right: 5vw;  /* 5% del ancho de la pantalla a la derecha */
  /*box-sizing: border-box; /* Para que padding no deforme el ancho */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
